<div class="modal insurance-modal">
	<ion-header-bar>
		<h1 class="title">网上签约授权条款</h1>
		<div class="buttons">
			<button class="button button-clear button-positive" ng-click="closeModalInterSign()">关闭</button>
		</div>
	</ion-header-bar>
	<ion-content class="has-header bottom-scroll-content" style="background: #f7f7f7;padding:10px;">
		<div class="row bg-gray margin-top-10" style="font-size:16px;">
			
				&nbsp;&nbsp;&nbsp;&nbsp;尊敬的客户，您正在进行网上支付委托扣款授权。在进行授权前, 请您仔细阅读以下条款。
			
		</div>
		<div class="row bg-white margin-top-10">
			
				1、您授权民生人寿保险股份有限公司及其分支机构(简称“民生保险”），委托拥有资质的第三方机构在您的授权银行账户内划扣您在民生保险所有保单首期保险费，以及合同成立后的各期续期/续保保险费，及因保险合同内容变更等产生的变更费用。
			
		</div>
		<div class="row bg-gray margin-top-10">
			
				2、您提供的银行账户的所有人为投保人本人，开户银行、户名和账号均真实有效。您应保证账户内有足够的金额支付应缴保险费，若因账户存款余额不足或未给予相应的授权造成转账不成功，致使合同不能持续有效，因此引起的责任概由投保人承担。
			
		</div>
		<div class="row bg-white margin-top-10">
			3、您应按照授权银行、第三方机构或民生保险提供的操作流程，正确指定扣款账户，进行委托扣款签约授权，并将签约信息和扣款账户绑定。
			
		</div>
		<div class="row bg-gray margin-top-10">
			4、在授权银行执行扣款指令后，您不能要求变更或者撤销扣款指令。			
		</div>
		<div class="row bg-white margin-top-10">
			5、您同意使用签约信息并选择委托扣款支付方式的，授权银行即可实施扣款行为。同时您应当妥善保管本人的签约信息，不得向他人透露，因您泄露签约信息造成的资金损失，由您自行承担责任。
			
		</div>
		<div class="row bg-gray margin-top-10">
			6、您应妥善保管本人在授权银行的银行卡关键信息（密码、有效期、CVN2码等）、网上银行证书及其密码、本人身份证件，不得泄露上述信息。因保管不善造成的损失，由您自行承担责任。
			
		</div>
		<div class="row bg-white margin-top-10">
			7、您知悉并同意，对于第三方机构代收付系统和授权银行网上支付系统而言，使用您拥有的相关账户、证书、密码、签约信息即视为您的行为，行为后果由您承担。
			
		</div>
		<div class="row bg-gray margin-top-10">
			8、如您发现扣款金额与其交易金额不符的，应当及时向第三方机构进行查询或者投诉，由第三方机构和授权银行核对扣款信息。		
		</div>
		<div class="row bg-white margin-top-10">
			9、确因第三方机构或者授权银行原因造成您账户扣款差错的，过错方应当及时补偿您的资金损失。			
		</div>
		<div class="row bg-gray margin-top-10">
			10、您点击“签约申请”即表示您接受条款，本条款生效。		
			
		</div>
		<!-- <div class="row bg-gray margin-top-10">
			其中10、您点击后引号内的内容应与实际最终页面上描述保持一致。			
		</div>	 -->

	</ion-content>
</div>