<table class="tableStyle">
	<thead>
		<caption>健康告知</caption>
		<tr>
			<td colspan="3" style="vertical-align: middle;">询问事项</td>
			<td class="alignCenter width6em">
				<div>被保险人</div>
				<div>是 否</div>
			</td>
			<td class="alignCenter width6em">
				<div>投保人</div>
				<div>是 否</div>
			</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="alignRight width2em">1.</td>
			<td colspan="2">
				被保险人身高 <span id="insurant_A05_A0501_0" class="underline"></span> （厘米），
				体重 <span class="underline" id="insurant_A05_A0501_1"></span> （公斤）；
				投保人身高 <span class="underline" id="applicant_A05_A0501_0"></span> （厘米），
				体重 <span class="underline" id="applicant_A05_A0501_1"></span> （公斤）。
			</td>
			<td class="alignCenter">
				
			</td>
			<td class="alignCenter">
				
			</td>
		</tr>
		<tr>
			<td class="alignRight">2.</td>
			<td colspan="2">
				您是否有吸烟习惯？若"是"，请详述：
				被保险人每天 <span class="underline" id="insurant_A05_A0502_0">&nbsp;&nbsp;</span> 支，
				已吸烟 <span class="underline" id="insurant_A05_A0502_1">&nbsp;&nbsp;</span> 年；
				投保人每天 <span class="underline" id="applicant_A05_A0502_0">&nbsp;&nbsp;</span> 支，
				已吸烟 <span class="underline" id="applicant_A05_A0502_1">&nbsp;&nbsp;</span> 年。
			</td>
			<td class="alignCenter">
				<div id="insurant_A05_A0502">
					<input type="checkbox" name="checkbox1" value="1"  disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
			<td class="alignCenter">
				<div id="applicant_A05_A0502">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
		</tr>
		<tr>
			<td class="alignRight">3.</td>
			<td colspan="2">
				您是否目前饮酒或曾经饮酒？若"是"，
				请告知:被保人饮酒 <span id="insurant_A05_A0503_0" class="underline">&nbsp;&nbsp;</span> 年：
				酒的种类为：
					①啤酒 <span id="insurant_A05_A0503_1" class="underline">&nbsp;&nbsp;</span> （瓶/天）
					②红酒 <span id="insurant_A05_A0503_2" class="underline">&nbsp;&nbsp;</span>  （两/天）
					③白酒 <span id="insurant_A05_A0503_3" class="underline">&nbsp;&nbsp;</span> （两/天）
					④其他 <span id="insurant_A05_A0503_4" class="underline">&nbsp;&nbsp;</span> （两/天）<br>
				投保人饮酒 <span id="applicant_A05_A0503_0" class="underline">&nbsp;&nbsp;</span> 年：
				酒的种类为：
					①啤酒 <span id="applicant_A05_A0503_1" class="underline">&nbsp;&nbsp;</span> （瓶/天）
					②红酒 <span id="applicant_A05_A0503_2" class="underline">&nbsp;&nbsp;</span>  （两/天）
					③白酒 <span id="applicant_A05_A0503_3" class="underline">&nbsp;&nbsp;</span> （两/天）
					④其他 <span id="applicant_A05_A0503_4" class="underline">&nbsp;&nbsp;</span> （两/天）

			</td>
			<td class="alignCenter">
			<div id="insurant_A05_A0503">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
			<td class="alignCenter">
				<div id="applicant_A05_A0503">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
		</tr>
		<tr>
			<td class="alignRight">4.</td>
			<td colspan="2">您是否目前或过去一年内曾有过下列症状？如：反复头痛、眩晕、胸痛、咯血、气喘、腹痛、便血、包块或肿物、原因不明的发热、皮肤和粘膜及齿龈出血、体重下降超过5公斤，原因不明的肌肉萎缩，身体的其他感觉异常或活动障碍。</td>
			<td class="alignCenter">
				<div id="insurant_A05_A0504"  name="4">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
			<td class="alignCenter">
				<div id="applicant_A05_A0504"  name="4">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
		</tr>
		<tr>
			<td class="alignRight">5.</td>
			<td colspan="2">您过去一年内是否接受过医师的诊查、治疗、用药、住院或手术建议？</td>
			<td class="alignCenter">
				<div id="insurant_A05_A0505" name="5">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
			<td class="alignCenter">
			<div id="applicant_A05_A0505"  name="5">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
		</tr>
		<tr>
			<td class="alignRight">6.</td>
			<td colspan="2">您过去三年内是否曾有过医学检查结果异常（包括健康体检）？若"是"，请注明检查时间与结果。</td>
			<td class="alignCenter">
				<div id="insurant_A05_A0506"  name="6">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
			<td class="alignCenter">
			<div id="applicant_A05_A0506"  name="6">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
		</tr>
		<tr>
			<td class="alignRight">7.</td>
			<td colspan="2">您过去十年内是否住院诊疗？若"是"，请写明住院的原因、时间、治疗结果及医院名称。</td>
			<td class="alignCenter">
				<div id="insurant_A05_A0507"  name="7">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
			<td class="alignCenter">
				<div id="applicant_A05_A0507"  name="7">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
		</tr>
		<tr>
			<td class="alignRight">8.</td>
			<td colspan="2">您是否有智能障碍？是否失明、聋哑及言语、咀嚼或身体其他部位残缺、残疾或功能障碍？若"是"，请说明智能障碍等级和残疾等级。</td>
			<td class="alignCenter">
				<div id="insurant_A05_A0508"  name="8">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
			<td class="alignCenter">
				<div id="applicant_A05_A0508"  name="8">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
		</tr>
		<tr>
			<td rowspan="12" class="alignRight">9.</td>
			<td colspan="4">您是否曾经患有或被怀疑患有以下疾病？若"是"，请注明就诊医院、疾病名称、治疗时间和结果：</td>
		</tr>
		<tr>
			<td class="alignRight width2em">A.</td>
			<td>神经系统及精神方面疾病，例如：癫痫、肢体瘫痪、脊髓疾病、多发性硬化、重症肌无力、帕金森氏综合症、脑中风、阿尔茨海默病、脑动/静脉血管瘤及畸形、精神病、抑郁症、神经官能症、脑部手术史等；</td>
			<td class="alignCenter">
			<div id="insurant_A05_A0509"  name="9-A">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
			<td class="alignCenter">
			<div id="applicant_A05_A0509"  name="9-A">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
		</tr>
		<tr>
			<td class="alignRight">B.</td>
			<td>呼吸系统疾病，例如：慢性支气管炎、肺气肿、肺心病、哮喘、肺结核、肺栓塞、支气管扩张、尘肺、间质性肺病、肺纤维化等；</td>
			<td class="alignCenter">
				<div id="insurant_A05_A0510" name="9-B">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
			<td class="alignCenter">
				<div id="applicant_A05_A0510"  name="9-B">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
		</tr>
		<tr>
			<td class="alignRight">C.</td>
			<td>循环系统疾病，例如：高血压、冠心病、心绞痛、心律失常、心肌梗塞、先天性心脏病、心脏瓣膜病、风湿性心脏病、心肌病、主动脉疾病、川崎病、心包炎、心导管等心血管介入治疗等；</td>
			<td class="alignCenter">
				<div id="insurant_A05_A0511"  name="9-C">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
			<td class="alignCenter">
				<div id="applicant_A05_A0511"  name="9-C">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
		</tr>
		<tr>
			<td class="alignRight">D.</td>
			<td>消化系统疾病，例如：肝炎（请注明类型）、乙肝或丙肝病毒携带、多囊肝、胆结石、肝硬化、胰腺疾病、胃和/或十二指肠溃疡、慢性或溃疡性结肠炎、克隆病、腹部手术史等；</td>
			<td class="alignCenter">
				<div id="insurant_A05_A0512"  name="9-D">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
			<td class="alignCenter">
				<div id="applicant_A05_A0512"  name="9-D">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
		</tr>
		<tr>
			<td class="alignRight">E.</td>
			<td>泌尿系统及生殖系统疾病，例如：血尿、肾炎、肾病综合症、多囊肾、肾脏功能不全、尿毒症、肾结核、肾积水、泌尿系统结石、泌尿系统手术史、生殖器官疾病等；</td>
			<td class="alignCenter">
				<div id="insurant_A05_A0513"  name="9-E">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
			<td class="alignCenter">
				<div id="applicant_A05_A0513"  name="9-E">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
		</tr>
		<tr>
			<td class="alignRight">F.</td>
			<td>内分泌及骨骼、肌肉、结缔组织疾病，例如：糖尿病、甲状腺或甲状旁腺疾病、肾上腺疾病、脑垂体异常、类风湿性关节炎、风湿病、痛风、强直性脊柱炎、肌肉骨骼关节疾病、系统性红斑狼疮、艾滋病等；</td>
			<td class="alignCenter">
				<div id="insurant_A05_A0514"  name="9-F">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
			<td class="alignCenter">
				<div id="applicant_A05_A0514"  name="9-F">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
		</tr>
		<tr>
			<td class="alignRight">G.</td>
			<td>血液系统疾病，例如：贫血、血小板减少、紫癜症、白血病、血友病、再生障碍性贫血、淋巴瘤等；</td>
			<td class="alignCenter">
				<div id="insurant_A05_A0515"  name="9-G">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
			<td class="alignCenter">
				<div id="applicant_A05_A0515"  name="9-G">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
		</tr>
		<tr>
			<td class="alignRight">H.</td>
			<td>五官科疾病，例如：视网膜出血或剥离、白内障、青光眼、高度近视（780度以上）、听力减退、五官手术史等；</td>
			<td class="alignCenter">
				<div id="insurant_A05_A0516"  name="9-H">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
			<td class="alignCenter">
				<div id="applicant_A05_A0516"  name="9-H">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
		</tr>
		<tr>
			<td class="alignRight">I.</td>
			<td>癌症、肿瘤（恶性、良性或尚未证实为良性或恶性的）、肿块、息肉、囊肿、赘生物等；</td>
			<td class="alignCenter">
				<div id="insurant_A05_A0517" name="9-I">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
			<td class="alignCenter">
				<div id="applicant_A05_A0517"  name="9-I">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
		</tr>
		<tr>
			<td class="alignRight">J.</td>
			<td>先天性疾病、遗传性疾病、脑外伤后遗症；急/慢性中毒、职业病等；</td>
			<td class="alignCenter">
				<div id="insurant_A05_A0518"  name="9-J">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
			<td class="alignCenter">
				<div id="applicant_A05_A0518" name="9-J">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
		</tr>
		<tr>
			<td class="alignRight">K.</td>
			<td>以上未提及的其它疾病或症状。</td>
			<td class="alignCenter">
				<div id="insurant_A05_A0519"  name="9-K">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
			<td class="alignCenter">
				<div id="applicant_A05_A0519" name="9-K">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
		</tr>
		<tr>
			<td class="alignRight">10.</td>
			<td colspan="2">您是否使用过任何成瘾药物，如镇静安眠剂、迷幻药、吸食有机溶剂或毒品？若"是"，请说明。</td>
			<td class="alignCenter">
				<div id="insurant_A05_A0520"  name="10">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
			<td class="alignCenter">
				<div id="applicant_A05_A0520"  name="10">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
		</tr>
		<tr>
			<td rowspan="3" class="alignRight">11.</td>
			<td colspan="4">女性补充告知栏[14周岁（含14周岁）以上请填写]：</td>
		</tr>
		<tr>
			<td class="alignRight">A.</td>
			<td>您是否正在怀孕？若"是"，被保人孕期 <span class="underline" id="insurant_A05_A0521_0">&nbsp;&nbsp;</span> 周；投保人孕期 <span class="underline" id="applicant_A05_A0521_0">&nbsp;&nbsp;</span> 周；</td>
			<td class="alignCenter">
				<div id="insurant_A05_A0521">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
			<td class="alignCenter">
				<div id="applicant_A05_A0521">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
		</tr>
		<tr>
			<td class="alignRight">B.</td>
			<td>您是否曾有子宫肌瘤、畸胎瘤、葡萄胎、阴道异常出血、乳腺包块或其他任何乳房、子宫、卵巢的疾病及妊娠并发症？</td>
			<td class="alignCenter">
					<div id="insurant_A05_A0522"  name="11-B">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
			<td class="alignCenter">
					<div id="applicant_A05_A0522"  name="11-B">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
		</tr>
	</tbody>
</table>
		
<table class="tableStyle">
	<thead>
		<caption>健康告知（续）</caption>
	</thead>
	<tbody>
		<tr>
			<td rowspan="3" class="alignRight width2em">12.</td>
			<td colspan="4">婴幼儿补充告知栏[2周岁（含2周岁）以下填写]：</td>
		</tr>
		<tr>
			<td class="alignRight width2em">A.</td>
			<td>出生时身高 <span class="underline" id="insurant_A05_A0523_0">&nbsp;&nbsp;</span> 厘米，体重 <span class="underline" id="insurant_A05_A0523_1">&nbsp;&nbsp;</span> 公斤；</td>
			<td class="alignCenter width6em"></td>
			<td class="alignCenter width6em"></td>
		</tr>
		<tr>
			<td class="alignRight">B.</td>
			<td>是否为早产、难产？出生时是否曾有产伤、窒息等异常情况？是否有畸形、发育迟缓、惊厥、脑瘫？</td>
			<td class="alignCenter">
				<div id="insurant_A05_A0524" name="12-B">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
			<td class="alignCenter">
				<div id="applicant_A05_A0524"   name="12-B">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
		</tr>
		<tr>
			<td rowspan="2" class="alignRight">13.</td>
			<td class="alignRight width2em">A.</td>
			<td>您的父母、子女、兄弟姐妹是否有患有恶性肿瘤/癌症、心脏病、脑中风、肝豆状核变性、血友病、糖尿病、精神疾病、多囊肝、多囊肾、肠息肉以及其他遗传性或传染性疾病？</td>
			<td class="alignCenter">
				<div id="insurant_A05_A0525"   name="13-A">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
			<td class="alignCenter">
				<div id="applicant_A05_A0525"  name="13-A">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
		</tr>
		<tr>
			<td class="alignRight">B.</td>
			<td>您的直系亲属中是否有60岁以前去世的？若"是"，请说明亲属关系、确诊疾病名称和确诊时的年龄。</td>
			<td class="alignCenter">
				<div id="insurant_A05_A0526"  name="13-B">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
			<td class="alignCenter">
				<div id="applicant_A05_A0526"    name="13-B">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<table class="tableStyle">
	<thead>
		<caption>财务及其他告知栏</caption>
	</thead>
	<tbody>
		<tr>
			<td class="alignRight width2em">14.</td>
			<td colspan="2">您目前是否有本公司或其他保险公司的人身保险？若"是"，请注明投保险种、保险金额、承保公司。</td>
			<td class="alignCenter width6em">
				<div id="insurant_A06_A0527"  name="14">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
			<td class="alignCenter width6em">
				<div id="applicant_A06_A0527"   name="14">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
		</tr>
		<tr>
			<td class="alignRight">15.</td>
			<td colspan="2">您过去是否被保险公司解除合同或投保、复效时被拒保、延期、附加条件承保？若"是"，请详述。</td>
			<td class="alignCenter">
				<div id="insurant_A06_A0528"  name="15">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
			<td class="alignCenter">
				<div id="applicant_A06_A0528"  name="15">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
		</tr>
		<tr>
			<td class="alignRight">16.</td>
			<td colspan="2">您是否有过任何形式的人身保险理赔？若"是"，请详述。</td>
			<td class="alignCenter">
				<div id="insurant_A06_A0529"  name="16">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
			<td class="alignCenter">
				<div id="applicant_A06_A0529"   name="16">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
		</tr>
		<tr>
			<td class="alignRight">17.</td>
			<td colspan="2">是否有参加飞行、潜水、攀岩、蹦极、跳伞、武术、拳击、赛车或特技活动等危险运动或爱好？</td>
			<td class="alignCenter">
				<div id="insurant_A06_A0530"  name="17">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
			<td class="alignCenter">
				<div id="applicant_A06_A0530"   name="17">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
		</tr>
		<tr>
			<td rowspan="2" class="alignRight">18.</td>
			<td class="alignRight width2em">A.</td>
			<td>被保险人您是否有驾驶执照？若“是” ，请选择<input name="insurant" type="checkbox" id="insurant_A06_A0531_0" value="A照" disabled>A照 <input name="insurant"  type="checkbox" id="insurant_A06_A0531_1" value="B照" disabled>B照  <input name="insurant"  type="checkbox" id="insurant_A06_A0531_2" value="C照" disabled>C照 <input name="insurant"  type="checkbox" id="insurant_A06_A0531_3" value="D照" disabled>D照 <input name="insurant"  type="checkbox" id="insurant_A06_A0531_4" value="E照" disabled>E照 <input name="insurant"  type="checkbox" id="insurant_A06_A0531_5" value="其它" disabled>其他<span class="underline" id="insurant_A06_A0531_6">            </span>
			</br>投保人您是否有驾驶执照？若“是” ，请选择<input name="applicant"   type="checkbox" id="applicant_A06_A0531_0" value="A照" disabled>A照 <input name="applicant"    type="checkbox" id="applicant_A06_A0531_1" value="B照" disabled>B照  <input name="applicant"    type="checkbox" id="applicant_A06_A0531_2" value="C照" disabled>C照 <input name="applicant"    type="checkbox" id="applicant_A06_A0531_3" value="D照" disabled>D照 <input name="applicant"    type="checkbox" id="applicant_A06_A0531_4" value="E照" disabled>E照 <input name="applicant"    type="checkbox" id="applicant_A06_A0531_5" value="其它" disabled>其他<span class="underline" id="applicant_A06_A0531_6">            </span>
				</td>
			<td class="alignCenter">
				<div id="insurant_A06_A0531">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
			<td class="alignCenter">
				<div id="applicant_A06_A0531">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
		</tr>
		<tr>
			<td class="alignRight">B.</td>
			<td>您是否曾违章驾车并发生交通事故，若"是"，请告知次数、时间、违章类型。</td>
			<td class="alignCenter">
				<div id="insurant_A06_A0532"  name="18-B">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
			<td class="alignCenter">
				<div id="applicant_A06_A0532" name="18-B">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
		</tr>
		<tr>
			<td class="alignRight">19.</td>
			<td colspan="2">您近期是否正准备出国？若"是"，请告知国家名称、出国原因及停留时间。</td>
			<td class="alignCenter">
				<div id="insurant_A06_A0533" name="19">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
			<td class="alignCenter">
				<div id="applicant_A06_A0533"  name="19">
					<input type="checkbox" name="checkbox1" value="1" disabled> <input
						type="checkbox" name="checkbox1" value="0"  disabled>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<table id="explainTable" class="tableStyle">
	<thead>
		<caption>告知说明及备注栏（若以上健康、财务及其他告知栏中4—19项询问如回答"是"，请注明对象，在本栏中详细说明。）</caption>
		<tr>
			<td width="5%">序号</td>
			<td width="15%">说明对象</td>
			<td width="80%">说明内容</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>

	