<div class="right-content">
	<div class="middle-menu">
		<header class="bar bar-header" >
			<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	       	<h1 class="title">问题件列表</h1>
	    </header>
	    <!-- <form ng-submit="autocompleteFn()">
            <div class="search" style="margin-top:{{sousuo}}px">
                <input type="text" id="autocomplete" ng-model="NewrecommendCtrlModule.keyWord" ng-blur="autocompleteFn()" />
                <div ng-show="!NewrecommendCtrlModule.keyWord.length">                      
                    <span>搜索</span>
                </div>
                <i class="icon ion-search placeholder-icon" ng-click="autocompleteFn()"></i> 
            </div>
        </form> -->
        <div ng-include="currentTab"></div>
       <!--  <div ng-click="clickQuestion()">测试数据</div> -->
	</div>
	<div class="right-data">
		<ion-nav-view name="submitContent"></ion-nav-view>
	</div>
</div>