<ion-view class="unsubmit-data">
	<header class="bar bar-header" >
       <!-- <button class="button button-icon" ng-click="closeData();">关闭</button> -->
       <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
       <div class="h1 title">问题卷</div>
    </header>
    <ion-content class="has-header bottom-scroll-content" overflow-scroll="false" ng-click="resetPage()">
		<div id="question1_test" class="area">
			
		</div>
	</ion-content>
<!-- 	<div class="bar bar-footer">
	  <button class="button button-clear" style="position:absolute;left: 33%;" ng-click="submitQuesData();">提交</button>
	</div> -->
	<div class="bar bar-footer footer-btn-bar">
		<div class="footer-btns f-13">
			<button class="button button-light-red footer-btn pull-left" ng-click="submitQuesData()">提交</button>
		</div>
	</div>
</ion-view>